name: %% format_file_name(workflow.file_name, is_title=true) %%

on:
  push:
    tags:
      - '*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  KAYOBE_USER_UID: 1000
  KAYOBE_USER_GID: 1000

jobs:
  %% format_file_name(workflow.file_name) %%:
    runs-on: %% github_runs_on %%
    container: docker:git
    permissions:
      contents: read
      packages: write
    steps:
<% if github_checkout_hook | length >= 1 %>
      %% github_checkout_hook | indent(width=6, first=false) %%
<% endif %>
      - name: Checkout kayobe config
        uses: actions/checkout@v3
        with:
           submodules: true

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: %% github_registry_url %%
          username: %% github_registry_username %%
          password: %% github_registry_password %%

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          flavor: |
           latest=${{ !contains(github.ref, 'alpha') }}
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
         driver-opts: |
           image=moby/buildkit:master

<% if github_kayobe_hook | length >= 1 %>
      %% github_kayobe_hook | indent(width=6, first=false) %%
<% endif %>
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          file: ./.automation/docker/kayobe/Dockerfile
          context: .
          build-args: |
             KAYOBE_DOCKER_SSH_CONFIG_PATH=.automation/docker/kayobe/ssh_config
             KAYOBE_USER_UID=${{ env.KAYOBE_USER_UID }}
             KAYOBE_USER_GID=${{ env.KAYOBE_USER_UID }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
<% if github_final_hook | length >= 1 +%>
      %% github_final_hook | indent(width=6, first=false) -%%
<% endif %>