<% include "header.yml.j2" +%>

jobs:
  %% workflow.file_name[4:-4] %%:
    runs-on: %% runner_name %%
    permissions:
      contents: read
      packages: read
    container:
      image: %% image_url %%
      credentials:
        username: ${{ github.actor }}
        password: %% registry_password %%
    steps:
<%- filter indent(width=6,first=False) +%>
<%- include "hooks/pre-checkout.yml.j2" ignore missing +%>
<% endfilter %>
      - name: Checkout kayobe config
        uses: actions/checkout@v3
        with:
          submodules: true
<%- filter indent(width=6,first=False) +%>
<% include "hooks/pre-checkout.yml.j2" ignore missing +%>
<% endfilter %>
      - name: Symlink source checkout to expected location
        run: sudo ln -s $PWD /src

<%- filter indent(width=6,first=False) +%>
<% include "hooks/pre-automation-task.yml.j2" ignore missing +%>
<% endfilter %>
      - name: %% workflow.file_name[:-4] | replace('-', ' ') | capitalize %%
        run: |
          /src/.automation/pipeline/%% workflow.file_name[4:-4] %%.sh
        <%- if workflow.arguments is defined +%>
        env:
          KAYOBE_ENVIRONMENT: '%% kayobe_arguments.KAYOBE_ENVIRONMENT | default(_kayobe_arguments.KAYOBE_ENVIRONMENT) %%'
          <%- for argument in workflow.arguments +%>
          %% argument %%: '%% kayobe_arguments[argument] | default(_kayobe_arguments[argument]) %%'
          <%- endfor +%>
        <%- endif +%>
<%- filter indent(width=6,first=False) +%>
<% include "hooks/post-automation-task.yml.j2" ignore missing %>
<% endfilter -%>
