name: %% workflow.name %%

on:
<%- if workflow.trigger is defined +%>
  <%- for trigger_name in workflow.trigger.keys() +%>
  <%- if trigger_name == 'schedule' +%>
  schedule:
    - cron: '%% workflow.trigger['schedule']['cron'] %%'
  <%- elif trigger_name == 'workflow_dispatch' +%>
  workflow_dispatch:
    <%- if workflow.trigger['workflow_dispatch'] is not none +%>
    inputs:
    <%- for input_name in workflow.trigger['workflow_dispatch'].keys() +%>
      %% input_name %%:
      <%- for property in workflow.trigger['workflow_dispatch'][input_name] +%>
      <%- if property == 'description' +%>
        %% property %%: |
          %% workflow.trigger['workflow_dispatch'][input_name][property] | trim %%
      <%- endif +%>
      <%- endfor +%>
    <%- endfor +%>
    <%- endif +%>
  <%- endif +%>
  <%- endfor +%>
<%- endif +%>
