<%- macro format_file_name(file_name, is_title=False) -%>
  <%- set formatted_name = file_name | splitext | first -%>
  <%- if is_title -%>
    <%- set formatted_name = formatted_name | replace('-', ' ') | title | regex_replace('Vm','VM') -%>
  <%- endif -%>
  %%- formatted_name -%%
<%- endmacro -%>

<% if workflow.use_bespoke is defined and workflow.use_bespoke is true %>
  <%- extends workflow.file_name + ".j2" | string +%>
<% else %>
  <%- extends "generic.yml.j2" +%>
<% endif %>
