---
_kayobe_arguments:
  KAYOBE_ENVIRONMENT: production
  KAYOBE_VAULT_PASSWORD: "${{ secrets.KAYOBE_VAULT_PASSWORD }}"
  KAYOBE_AUTOMATION_SSH_PRIVATE_KEY: "${{ secrets.KAYOBE_AUTOMATION_SSH_PRIVATE_KEY }}"
  KOLLA_LIMIT: "${{ github.event.inputs.kollaLimit }}"
  KOLLA_TAGS: "${{ github.event.inputs.kollaTags }}"
  KAYOBE_TAGS: "${{ github.event.inputs.kayobeTags }}"
  KAYOBE_LIMIT: "${{ github.event.inputs.kayobeLimit }}"
  KAYOBE_AUTOMATION_PR_TARGET_BRANCH: ${{ github.event.ref }}
  KAYOBE_AUTOMATION_PR_REMOTE: https://${KAYOBE_AUTOMATION_PR_GITHUB_USER}:${KAYOBE_AUTOMATION_PR_AUTH_TOKEN}@github.com/${{ github.repository }}
  KAYOBE_AUTOMATION_PR_GITHUB_USER: ${{ github.actor }}
  KAYOBE_AUTOMATION_PR_AUTH_TOKEN: ${{ github.token }}
  KAYOBE_AUTOMATION_PR_TYPE: github
  KAYOBE_AUTOMATION_PR_TITLE: "[kayobe-automation] ${{ github.workflow }} #${{ github.run_id }}"
  KAYOBE_AUTOMATION_PR_URL: https://api.github.com/repos/${{ github.repository }}/pulls
  KAYOBE_AUTOMATION_TEMPEST_LOADLIST: "${{ github.event.inputs.testSuite }}"
  TEMPEST_PATTERN: "${{ github.event.inputs.tempestPattern }}"
  KAYOBE_AUTOMATION_RALLY_DOCKER_REGISTRY: ghcr.io
  KAYOBE_AUTOMATION_RALLY_DOCKER_REGISTRY_USERNAME: ${{ github.actor }}
  KAYOBE_AUTOMATION_RALLY_DOCKER_REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
  HOME: /stack
